{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block head %}
<head>
</head>
{% endblock %}

{% block body %}
<div class="content-wrapper">
    <html>
        <body>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                <form method="post" action="{{ path('login') }}">

                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <h2 class="fw-bold mb-2 text-uppercase">Connexion</h2>
                                <p class="text-white-50 mb-5">Entrez votre email et votre mot de passe</p>

                                <div class="form-floating mb-4">
                                    <input type="email" name="email" id="inputEmail" class="form-control text-center" required autofocus/>
                                    <label for="inputEmail">Email</label>
                                </div>

                                <div class="form-floating mb-4">
                                    <input type="password" name="password" id="inputPassword" class="form-control text-center" required />
                                    <label for="inputPassword">Mot de passe</label>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Mot de passe oublié ?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Se connecter</button>

                                </div>

                                <div>
                                <p class="mb-0">Vous n'avez pas de compte ? <a href="{{ path('register') }}" class="text-white-50 fw-bold">S'inscrire</a>
                                </p>
                                </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
</div>
{% endblock %}
