{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="content-wrapper">
    <html>
        <body>
            <div class="banner" style="background: url('{{ asset('img/banner.jpg') }}'); background-size: cover; background-position: center; padding: 8px 0;" class="jumbotron bg-cover text-white">
                <div class="container py-5 text-center" style="border-radius:16px; background-color: rgba(0, 0, 0, 0.3); width: 30%;">
                    <h1 class="display-4 font-weight-bold text-white">Faudra Tif Hair</h1>
                    <p class="font-italic mb-0 text-white">Salon de coiffure</p>
                </div>
            </div>
            <div class="row mt-5 text-center text-dark" style="font-family: 'Montserrat', sans-serif;">
                <p>
                    Notre équipe de coiffeurs barbiers sera très ravie de vous accueillir à l’abri des regards pour vous proposer une large gamme de prestations allant de la simple coupe de cheveux au rasage à l'ancienne en passant par les soins visage et les colorations.
                </p>

                <div class="col-lg-6">
                    <div class="image-container text-center">
                        <img src="{{ asset('img/hairdress.jpg') }}" alt="Côté Coiffure" class="img-hairdress">
                    </div>
                    <br>
                    <h3 style="font-family: 'Monoton', cursive;">CÔTÉ COIFFURE :</h3>
                    <p>
                        Découvrez notre expertise en matière de coiffure. Nos coiffeurs talentueux et passionnés sauront vous conseiller et vous offrir une coupe de cheveux tendance et adaptée à votre style.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="image-container text-center">
                        <img src="{{ asset('img/barber.jpg') }}" alt="Côté Barber" class="img-barber">
                    </div>
                    <br>
                    <h3 style="font-family: 'Monoton', cursive;">CÔTÉ BARBER :</h3>
                    <p>
                        Plongez dans l'univers du barbering avec notre équipe de barbiers experts. Profitez d'un rasage précis à l'ancienne, de soins de la barbe de qualité et de conseils personnalisés pour entretenir votre barbe avec style.
                    </p>
                </div>
                <div class="text-center p-3">
                    N'hésitez pas à nous contacter pour tout complément d'information ou prise de rendez-vous !
                    <br>
                    <br>
                    <a href="{{ path('reservation') }}" class="btn btn-primary">PRENEZ RENDEZ-VOUS</a>
                </div>
            </div>
        </body>
    </html>
</div>

{% endblock %}
