{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block head %}
<head>
</head>
{% endblock %}

{% block body %}

<div class="content-wrapper">
    <html>
        <body>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Réservation</h2>
                                    <br>
                                    {{ form(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
</div>

{% endblock %}
